body{
	background: #333;
	color: #fff;
}

.navbar{
	border-bottom: #0984e3 3px solid;
	opacity: .7;
}

#home-section{
	background: url(../img/2.jpg) no-repeat;
	min-height: 97vh;
	background-size: cover;
	background-attachment: fixed;
}

.dark-overlay{
	background-color: rgba(0,0,0, .4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	height: 97%;
}

.home-inner{
	padding: 150px;
}

@media (max-width: 992px){
	.home-inner{
		padding-top:100px; 
	}
}

.container img{
	width: 100%;
}